.form-contract-status{
    background-color: wheat;
    width: 80%;
    margin-left: 150px;
    margin-top: 10px;
    height: 120vh;
}
.nd{
    background-color: white;
    width: 78%;
    margin-left: 140px;
    border-radius: 50px;

}
.nd h4 {
    margin-right: 20px; /* Khoảng cách giữa các phần tử h4 */
}
