.form-contract{
    margin-top: 50px;
    width: 60%;
    height: 600px;
    // background-color: red;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    background-size: 100% 100%;
}

.label1{
    width: 150px;
}
.sl{
    width: 300px;
    height: 30px;
    margin-left: 20px;
    border-radius: 30px;
}
.dky{
    width: 100px;

}
.input1{
    width: 830px;
    margin-left: 20px;
}
.goi {
    width: 30px; /* Kích thước cố định */
    height: 30px; /* Kích thước cố định */
    margin-left: 20px;
}
