.form-container-header{
    background-color: rgb(21, 219, 160);
    width: 100%;
    height: 15vh;
    border-bottom: 0 0 10px 10px;
    position: fixed;
    margin-bottom: 50px;
}
.navbar{
    padding: 25px;
    display: flex;
    justify-content: space-around;
}
.logo{
    text-decoration: none; /* Xóa gạch chân của các liên kết */
    margin-top: 10px;
    font-size: 30px;
    color: white;
    width: 150px;
    border-radius: 20px;
}
.link{
    width: 50%;
    margin-left: 8%;
    display: flex;
    list-style-type: none; /* Xóa dấu chấm đầu dòng */
    justify-content: space-around;  
    
}
.link li a {
    text-decoration: none; /* Xóa gạch chân của các liên kết */
    color: white
  }
.login{
    width: 130px;
    margin-top: 10px;
    color: white;
    font-size: 18px;
}

